@use "../variables";
@use "./collapse";

.G_Accordion {
    margin-block: 1rem;
    width: 100%;

    .G_Accordion_Item {
        border: 2px solid variables.$secondaryBg;
        color: variables.$secondary;

        &:not(:last-child, :first-child) {
            border-top: 0;

        }

        &:first-child {

            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:last-child {
            border-top: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        // &.isOpen {
        //     background-color: variables.$darkBg;
        // }

        .G_Accordion_Header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1.15rem 1.5rem;
            font-size: 1rem;
            text-align: left;
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                content: '';
                border-right: 2px solid;
                display: block;
                height: 1rem;
                transform-origin: center center;
                margin-top: -8px;
                right: 1.5rem;
                top: 50%;
                width: 0;
                transition: all 0.5s ease-in-out;
            }

            &::after {

                transform: rotate(90deg);
            }


            &.isActive {
                background-color: variables.$darkBg;

                &::before {
                    transform: rotate(90deg);

                }
            }
        }

        .G_Accordion_Body {
            @include collapse.Collapse;
            overflow: hidden;
            width: calc(100% - 10px);
            margin-inline: auto;

            &.isOpen {
                border-top: 1px solid variables.$secondaryBg;
            }

            .G_Accordion_Body-content {
                padding: 1.15rem 1.5rem;
            }
        }

    }
}