@use "../variables";

.G_Card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: variables.$cardBg;
    background-clip: border-box;
    border-radius: 0.5rem;
    // box-shadow: 0 15px 35px rgb(55 65 81 / 10%), 0 5px 15px rgb(55 65 81 / 10%);

    .G_Card-body {
        flex: 1 1 auto;
        padding: 1.5rem;
    }

    .G_Card-header {
        padding: 0.75rem 1.5rem;
        margin-bottom: 0;
        background-color: inherit;
        border-bottom: 1px solid variables.$borderColor;

        &:first-child {
            border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
        }

    }

    .G_Card-footer {
        padding: 0.75rem 1.5rem;
        background-color: inherit;
        border-top: 1px solid variables.$borderColor;

        &:last-child {
            border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
        }
    }

    .G_Card-title {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
    }

    .G_Card-subtitle {
        margin-top: -0.25rem;
        font-size: 1rem;
        color: variables.$muted !important;
        margin-bottom: 0.5rem
    }

    .G_Card-text {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .G_Card-link {
        font-weight: 400;
        line-height: 1.6;
        font-size: 1rem;
        color: variables.$primary;
        text-decoration: none;
        text-transform: capitalize;
        opacity: 0.9;

        &:has(+ .G_Card-link) {
            margin-right: 1rem;
        }

        &:hover {
            opacity: 1;
        }

        svg,
        i,
        img {
            line-height: inherit;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-top: -0.35rem;
            margin-inline: 0.35rem;
        }
    }

    .G-Card-Img,
    .G_Card-ImgTop {
        border-top-left-radius: calc(0.5rem - 1px);
        border-top-right-radius: calc(0.5rem - 1px);
    }

    .G-Card-Img,
    .G_Card-ImgBottom {
        border-bottom-left-radius: calc(0.5rem - 1px);
        border-bottom-right-radius: calc(0.5rem - 1px);
    }

    .bgImage {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }


    .G-Card-Img,
    .G_Card-ImgBottom,
    .G_Card-ImgTop {
        width: 100%;
    }

    .listGroup {
        border-top: inherit;
        border-bottom: inherit;

        &:first-child {
            border-top-width: 0;
            border-top-left-radius: calc(0.5rem - 1px);
            border-top-right-radius: calc(0.5rem - 1px);
        }

        &:last-child {
            border-bottom-width: 0;
            border-bottom-right-radius: calc(0.5rem - 1px);
            border-bottom-left-radius: calc(0.5rem - 1px);
        }
    }
}