@use "../variables";


@mixin Collapse {
    overflow: hidden;
    position: relative;
    height: 0;
    transition: height .5s cubic-bezier(0.4, 0, 0.2, 1);
}
.Collapse {
    overflow: hidden;
    position: relative;
    height: 0;
    transition: height .5s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    &.isOpen{
            height: auto;
    } 
}