.Container {
    padding-inline: 16px;
    margin: auto;

    @media (min-width:992px) {
        max-width: 960px;
    }

    @media (min-width:1200px) {
        max-width: 1140px;
    }

    @media (min-width:1400px) {
        max-width: 1320px;
    }
}

main.Container {
    padding-block: 2rem;
}