@use "../variables";

.G_Header {
    width: 100%;
    padding: 2rem;
    margin-top: 3.125rem;
    text-align: center;
    border-bottom: 1px solid variables.$borderColor;
    margin-bottom: 2rem;
    background-color: variables.$HeaderBg;
    color: variables.$HeaderColor!important;
    
    
    .title {
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        color: variables.$HeaderTitle!important;
    }
    
    .description {
        color: variables.$HeaderDescription!important;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 2.5rem;
    }
}