@use '../variables';

.G_List-group {

    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;

    .G_List-item {
        display: block;
        padding: .5rem 1.5rem;

        &.Flex {
            display: flex;
            align-items: center;
        }
    }
}