@use "../variables";
@use "../buttons";

$stickyHeight:3.125rem;

.G_MainContent {
    width: 100%;
    padding: 1rem;
    margin-bottom: $stickyHeight;

    &.Sticky {

        .G_SectionTitle {
            position: sticky;
            top: $stickyHeight;
        }
    }

    @media screen and (max-width: variables.$sm) {
        padding: 0;

    }
}

.G_ContentSection {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: variables.$sm) {
        margin-left: 0;

    }
}

.G_SectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    border-bottom: 1px solid variables.$borderColor;
    margin-bottom: 0.75rem;
    background-color: variables.$bodyBg;
    vertical-align: middle;
    z-index: 2;
    padding-left: 0.25rem;

    .InfoBtn {
        @include buttons.btn;
        color: variables.$info;
        background-color: variables.$infoBg;
        box-shadow: none !important;
        font-family: variables.$fontButton;
        padding: 0.5rem 0.75rem;
        font-size: 0.7em;
        margin-right: 0.5rem;

        &:has(> svg, > i, > img, >span) {
            display: flex;
            align-items: center;
            column-gap: 0.25rem;
        }
    }
}

.G_SectionContent {
    padding: 0.5rem;
    width: 100%;
    z-index: 1;
}