.ActiveArea {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.75rem;
    height: auto;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-bottom: 1.75rem;

    .uploadArea {
        border: 2px solid #374151;
        border-radius: 0.25rem;


        aspect-ratio: 16/9;
        margin-inline: auto;
        max-width: 35rem;
        background: #1e232d;

        &:is(:focus, :active) {
            border-color: #6658d3;
        }

        .Label {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                margin-top: 1.75rem;
            }

            p {
                padding: 0.5rem;
                text-align: center;
            }

        }

        .Input {
            display: block !important;
            border-bottom: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-radius: 0 !important;
        }
    }

    .ProgressArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: auto;


        .ProgressCard {
            padding: 0.5rem;
            width: 100%;
            max-width: 20rem;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            background-color: rgb(31, 36, 46);
            padding: 0.5rem 0.75rem;
            margin-inline: auto;

            .Details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5rem;

                .Info {

                    .Name {
                        font-size: 1.25rem;
                        letter-spacing: 1px;
                        font-weight: 500;
                        display: block;

                    }

                    .Size {
                        display: block;

                        font-size: 0.75rem;
                        font-weight: 400;
                        margin-bottom: 0.25rem;
                        opacity: 0.75;
                    }
                }
            }

            .Progress {
                height: 7px;
                border-radius: 10px;
                max-width: 100%;
                background-color: #cfcfcf;
                position: relative;
                z-index: 0;
                margin-bottom: 0.5rem;
                --primary: #a4acff;
                --warning: #d70c25;
                --danger: #fdc83a;
                --success: #01bd62dd;
                --primary-hvr: #0052cf;

                .ProgressBar {
                    position: absolute;
                    all: 0;
                    z-index: 1;
                    height: 100%;
                    width: auto;
                    border-radius: inherit;
                    background-color: #030b02;
                    transition: all 500ms ease-in;
                }
            }



            .ProgressMeter {
                font-size: 1rem;
                font-weight: 400;
                display: inline-block;
            }
        }

    }
}


$xs:0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;

.imageArea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3.125rem;
    column-gap: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.75rem;
    row-gap: 1.75rem;



    .imageCard {
        padding: 0.5rem;

        @media (max-width: $sm) {
            width: 100%;
        }

        @media (min-width: $sm) and (max-width: $md) {
            width: 40%;
        }

        @media (min-width: $md) and (max-width: $lg) {
            width: 25%;
            max-width: 18rem;
        }

        @media (min-width: $lg) {
            width: 20%;
            max-width: 22rem;
        }



        img {
            width: 100%;
            height: auto;
            // aspect-ratio: 16/9;
            object-fit: cover;
        }

        .Footer {
            display: flex;
            padding: 0.25rem;
            padding-block: .5rem;
            align-items: center;

            span {
                text-transform: capitalize;
                margin-right: 0.25rem;
                margin: auto;

            }

            a {
                margin-left: auto;
            }
        }

        animation: pop 0.3s forwards;
        transition: all 1s ease-in-out !important;
        opacity: 0;

        @keyframes pop {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }



    }

    .Progress {
        height: 7px;
        border-radius: 10px;
        width: calc(100% - 2rem);
        max-width: 100%;
        background-color: #cfcfcf;
        position: relative;
        z-index: 0;
        margin-bottom: 0.5rem;

        .ProgressBar {
            position: absolute;
            all: 0;
            z-index: 1;
            height: 100%;
            width: auto;
            border-radius: inherit;
            background-color: #030b02;
            transition: all 500ms ease-in;
        }
    }



    .ProgressMeter {
        font-size: 0.75rem;
        font-weight: 400;
        display: inline-block;

        align-self: center;

    }
}