/* Google */

.GooglePreview {
    max-width: 600px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;

    .pageBreadcrumbs {
        font-size: 14px;
        color: var(--text-muted);
        line-height: 1.3;
        font-weight: normal;
        margin-bottom: 4px;
    }

    .pageTitle {
        font-size: 20px;
        color: var(--link);
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .pageDescription {
        font-size: 14px;
        line-height: 1.57;
        font-weight: 400;
    }
}

/* Open graph */

.OGPreview {
    width: max-content;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;

    .OGPreview_imageWrapper {
        width: 100%;
        height: 261px;
        background-image: url("https://kkupgrader.github.io/tools/meta-tag-generator/meta-tag-generator.svg");
        border-bottom: 1px solid var(--border-color);
        background-repeat: no-repeat;
    }

    .OGPreview_dataWrapper {
        //  background-color: #e9ebec;
        padding: 5px 10px;

        .OG_link {
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 0;
            color: var(--link);
        }

        .OG_title {
            font-weight: 600;
            margin-bottom: 4px;
        }

        .OG_description {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}


/* Twitter */

.TwitterPreview {
    width: max-content;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;

    .TwitterPreview_imageWrapper {
        width: 100%;
        height: 220px;
        background-image: url("https://kkupgrader.github.io/tools/meta-tag-generator/meta-tag-generator.svg");
        background-repeat: no-repeat;
        border-bottom: 1px solid var(--border-color);
    }

    .TwitterPreview_dataWrapper {
        padding: 5px 10px;

        .twitter_title {
            font-weight: 600;
            margin-bottom: 4px;
        }

        .twitter_description {
            font-size: 14px;
            margin-bottom: 0;
            color: var(--text-muted);
        }

        .twitter_link {
            font-size: 14px;
            margin-bottom: 0;
            color: var(--link);
        }
    }
}

.CodeArea {
    width: 100%;
    max-width: 980px;
    margin: 0.75rem auto 2rem;
}