$xs:0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;





$fontNavbar:'Google Sans',
sans-serif;

$fontBody:'Google Sans',
sans-serif;
$fontButton:'Manrope',
sans-serif;
$fontHeading:'Google Sans',
sans-serif;
$fontPara:'Google Sans',
sans-serif;
$fontCode:'Google Sans Mono',
monospace;

$primary:#85ceff;
$primaryBg:#0d3b4e;

$secondary:#a4acff;
$secondaryBg:#6b75db33;

$badge:var(--badge);
$badgeBg:var(--badgeBg);
$danger: var(--danger);
$dangerBg: var(--dangerBg);
$success: var(--success);
$successBg: var(--successBg);
$info:var(--info);
$infoBg:var(--infoBg);
$warning: var(--warning);
$warningBg: var(--warningBg);
$dark:#fbfbfb;
$darkBg:#262626;
$light:#585858;
$lightBg:#fbfbfb;
$dark2:#001829;
$dark3:#212930;
$danger-hvr: #d70c25;
$warning-hvr: #fdc83a;
$success-hvr: #01bd62dd;
$info-hvr: #0052cf;

$link:#3c4daf;
$main:#149eca;
$muted:#ebecf0;
$hoverBg:#343a46;
$activeBg:#283541;


$textColor:#132F4C;
$LightTextColor:#132F4C;
$hoverBg:#2a2e32;
$white:#fbfbfb;
$black:#262626;
$transparent:#ffffff0d;
$bodyText:#ffffffbf;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
0 2px 8px 0 rgba(0, 0, 0, 0.12);
$shadow2: 0 20px 30px rgba(0, 0, 0, 0.1);
$grey: #9e9e9e;
$transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transitionCubic:cubic-bezier(0.175, 0.885, 0.32, 1.275);
$borderColor:#ABADC6;

$sidenavBreakPoint:1024px;
$SidenavBg:#1e2235;
$sidenavWidth:15rem;

$navbarBg:#1e2235;

$HeaderBg:#161826;
$HeaderColor:#7b88ca;
$HeaderTitle:#7b88ca;
$HeaderDescription:#DCDEF380;

$buttonFontFamily:"Roboto",
sans-serif;
$bodyBg:#fbfbfb;
$bodyText:#262626;
$bodyDarkBg:#1E2235;

$TextMuted:#ebecf0bf;
$cardBg:#1E2235;

$FormBg:#161826;
$FormHoverBg:#252a41;
$FormHoverActive:#b4abff;
$FormText:#ffffffbf;
$FormLabel:#92a5b2;
$FormBorder:#ABADC6;
$FormPlaceholder:#8597a3;
$FormActive:#6658d3;
$FormShadow:2px 2px 13px 5px #090c1040;



$color_1: inherit;
$color_2: var(--black-coral);
$color_3: var(--charcoal);
$color_4: var(--cinnamon-satin);
$color_5: var(--white);
$color_6: var(--gunmetal);
$color_7: var(--manatee);
$font-family_1: var(--ff-manrope);
$background-color_1: var(--white);
$background-color_2: hsl(0, 0%, 98%);
$background-color_3: hsl(0, 0%, 80%);
$background-color_4: hsl(0, 0%, 70%);
$background-color_5: var(--cinnamon-satin);
$background-color_6: var(--raisin-black);
$background-color_7: var(--white_a8);
$background-color_8: var(--white_a12);
$background-color_9: var(--cultured);
$background-color_10: var(--raisin-black_a6);
$background-color_11: var(--snow);

@mixin noAction {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

@mixin Block {
    outline: none;
    display: block;
    border: 0;
    text-decoration: none;

    &:is(:hover, :focus, :active) {
        outline: none;

    }
}

@mixin flex {
    display: flex;
}

@mixin inline-flex {
    display: inline-flex;
}

@mixin left {
    margin-left: 0.25rem;
    margin-right: auto;
}

@mixin center {
    margin-right: auto;
    margin-left: auto;
}

@mixin right {
    margin-right: 0.25rem;
    margin-left: auto;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin overFlowY {

    overflow-y: auto;

    &::-webkit-scrollbar-track {
        background-color: none;
        background-clip: content-box;

    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent
    }

    &:hover {
        &::-webkit-scrollbar-thumb {

            background-color: #969faf;

        }
    }

}

@mixin PrimaryTextColor {
    background: linear-gradient(to right, #3282B8, #0059B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
}

$MarginPadding1 :0.25rem;
$MarginPadding2 :0.5rem;
$MarginPadding3 :0.75rem;
$MarginPadding4 :1rem;
$MarginPadding5 :1.25rem;
$MarginPadding6 :1.5rem;