@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        /* --primary: 215.06deg 100% 50%; */
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
        --tertiary: 93.46deg 88.24% 61.91%;
        --tertiary-foreground: 0deg 0% 0%;

    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary:  205.19deg 94.29% 48.04%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
    }
}

@layer base {
    * {
        @apply border-border;
    }


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:autofill {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #fafafa;
}

html::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    font-family: "DM Sans", "Plus Jakarta Sans", 'Poppins', 'Inter', "ManRope", "Google Sans", san-serif;
    @apply bg-background text-foreground;

}

a,
button {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

a,
button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.glassmorphism{
    /* glassmorphism  with tailwindcss  and dark mode */
    @apply bg-slate-50/15 dark:bg-slate-800/15 backdrop-blur-xl border border-slate-500/10 dark:border-border;
}
.glassmorphism_light{
    /* glassmorphism  with tailwindcss  and dark mode */
    @apply bg-white/15 dark:bg-gray-800/15 backdrop-blur-lg border border-slate-500/10 dark:border-border/70;
}
.or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0;

}

.or::before,
.or::after {
    content: "";
    flex: 1;
    height: 1px;
    @apply bg-border dark:bg-slate-700;
}
.staticWave{
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1200' height='99' viewBox='0 0 1200 99' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 47.1131L50 51.437C100 55.7609 200 64.4087 300 60.0848C400 55.7609 500 38.4653 600 23.3316C700 8.1979 800 -4.77383 900 1.71204C1000 8.1979 1100 34.1414 1150 47.1131L1200 60.0848V99H1150C1100 99 1000 99 900 99C800 99 700 99 600 99C500 99 400 99 300 99C200 99 100 99 50 99H0V47.1131Z' fill='rgb(244, 247, 254)' /%3E%3C/svg%3E");
    width: 100%;
    height: 10rem;
    position: absolute;
    min-width: 100vw;
    inset-inline: 0px;
    bottom: 0px;
}
/* lg: */
@media (max-width: 1024px) {
    .sidenav {
        translate: -100% 0%;
        transition: all 0.3s ease-in-out;
    }

    .sidenav.open {
        translate: 0% 0% !important;
    }
}