$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$background-color_2: hsl(0, 0%, 98%);
$background-color_3: hsl(0, 0%, 80%);
$background-color_4: hsl(0, 0%, 70%);


@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}





.Container {
    padding-inline: 16px;

    @media (min-width:$sm) {
        width: 100%;
        margin-inline: auto;
    }

    @media (min-width:$lg) {
        max-width: 960px;
    }
}

.SocialList {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (min-width:$lg) {
        display: none;
    }

}

.SocialLink {
    font-size: 2rem;
    transition: var(--transition-1);

    &:hover {
        transform: translateY(-3px);
    }
}



.Header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    padding-block: 20px;
    box-shadow: var(--shadow-1);
    z-index: 4;

    .Container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .NavOpen_btn {
            order: 1;
        }

        .Logo {
            order: 2;
        }

        .NavBar,
        .NavSearch {
            order: 3;
        }

        .NavCTA {
            order: 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &.active {
        position: fixed;
        animation: slideIn 0.5s ease forwards;
    }
}

.NavSearch {
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    position: absolute;
    max-width: 728px;
    left: 50%;
    top: 200%;
    translate: -50% -50%;
    transform: translateY(-20px) scale(0);
    opacity: 0;

    transition: opacity .15s cubic-bezier(0, 0, .2, 1) 0ms, transform .15s cubic-bezier(0, 0, .2, 1) 0ms, scale .15s cubic-bezier(0, 0, .2, 1) 0ms;
    z-index: 3;

    input {
        margin-inline: 0.5rem;
        margin-block: 0;
        height: 100%;
    }

    &.IsOpen {
        transform: translateY(0) scale(1);
        opacity: 1;
    }


}

.NavOpen_btn {
    font-size: 3.5rem;
    color: var(--gunmetal);
    margin-right: 0.5rem;

    svg {
        margin-top: -0.75rem;
    }
}

.NavBar {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-color);
    max-width: 300px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    visibility: hidden;
    will-change: opacity, transform;
    transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    opacity: 3;

    &.active {
        visibility: visible;
        transform: translateX(300px);
    }

    @media (min-width:$lg) {
        padding-block: 10px;

        .Wrapper {
            display: none;
        }

        all: unset;
        display: flex;
        flex-grow: 1;

        .SocialLink {
            color: var(--charcoal);
            font-size: 1.8rem;
        }
    }

    .NavBar_list {

        @media (max-width: $lg) {

            display: flex;
            flex-direction: column;
            gap: 0.5rem;


            .NavBarItem {
                .NavBar_link {
                    color: var(--sidebar-link);
                    background: var(--sidebar-link-bg);
                    transition: var(--transition-1);
                    opacity: .85;
                    display: flex;
                    justify-content: space-between;
                    padding-block: 0.5rem;
                    padding-inline: 1.5rem 0.25rem;
                    border-radius: 0.5rem;
                    margin-bottom: 0.25rem;

                    &:hover {
                        color: var(--sidebar-link-hover);
                        opacity: 1;
                        background: var(--sidebar-link-bg-hover);
                    }

                }



                &:has(>.NavBar_list) {

                    &>.NavBar_list {
                        padding-left: 0.75rem;
                        transition: all 0.8s ease;
                        overflow: hidden;
                        height: 0;

                        &.isActive {
                            height: initial;
                            border-left: 1px solid var(--border-color);
                        }
                    }

                    &>.NavBar_link {
                        color: var(--sidebar-link);
                        opacity: 1;
                        transition-duration: 0s;
                    }




                }


            }
        }

    }
}


.ThemeToggle,
.SearchToggle {
    margin-inline: 1rem;
    margin-block: auto;
    font-size: 1.8rem;
    background-color: var(--icon-bg);
    position: relative;
    padding: 18px;
    height: 24px;
    width: 24px;
    border-radius: 50%;

    &+& {
        margin-left: 0.5rem;
    }

    svg {
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.Logo {
    margin-right: auto;
}



.NavBar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: var(--fs-4);
    }
}

.navCloseBtn {
    color: var(--sidebar-link);
    opacity: 1;
    background: var(--sidebar-link-bg);
    font-size: 2rem;
    display: inline-flex;
    padding: 6px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);



    &:hover {
        color: var(--sidebar-link-hover);
        background: var(--sidebar-link-bg-hover);
    }
}

.NavBar_list {
    margin-block-end: auto;
    --transition-timing: 400ms;

    .NavBar_link {
        font-weight: var(--fw-700);
        padding-block: 6px;

    }

    @media (min-width: $lg) {

        display: grid;
        gap: 36px;
        margin-inline: auto;

        grid-auto-flow: column;

        .NavBarItem {
            .NavBar_link {
                color: var(--charcoal);
                transition: var(--transition-1);
                opacity: .85;

                &:hover {
                    color: var(--cinnamon-satin);
                    opacity: 1;
                }
            }

            &:has(>.NavBar_list) {
                position: relative;
                width: 100%;

                &>.NavBar_link>svg {
                    rotate: 90deg;
                    transition: all var(--transition-timing) ease-in-out;
                }



                &>.NavBar_list {
                    position: absolute;
                    top: 160%;
                    left: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    background: var(--drop-bg);
                    width: max-content;
                    min-width: 16rem;
                    box-shadow: var(--drop-shadow);
                    gap: 0.375rem;
                    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    translate: -50% 50px;
                    opacity: 0;
                    visibility: hidden;


                    & .NavBarItem {
                        width: 100%;

                        &>.NavBar_link {
                            display: flex;
                            justify-content: space-between;
                            padding-block: 0.5rem;
                            padding-inline: 1.5rem;
                        }

                        &:has(>.NavBar_list) {


                            &>.NavBar_link>svg {
                                margin-left: auto;
                                margin-right: 0.25rem;
                                color: inherit;
                            }

                            &>.NavBar_list {
                                left: 100%;
                                top: 0;
                                translate: 5% 30px;
                                opacity: 0;
                                visibility: hidden;
                            }

                            &:hover,
                            &:focus-within,
                            &.isActive {
                                &>.NavBar_list {
                                    translate: 5% 0;
                                    opacity: 1;
                                    visibility: visible;
                                }

                                &>.NavBar_link>svg {
                                    rotate: 0deg;

                                }
                            }
                        }
                    }
                }




                &:hover,
                &:focus-within,
                &.isActive {
                    &>.NavBar_list {
                        translate: -50% 0;
                        opacity: 1;
                        visibility: visible;
                    }

                    &>.NavBar_link>svg {
                        rotate: -90deg;

                    }
                }
            }

        }
    }


}

.ContactLink {
    transition: var(--transition-1);

    &:hover {
        color: var(--cinnamon-satin);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--overlay-bg);
    backdrop-filter: blur(20px);
    pointer-events: none;
    opacity: 0;
    transition: var(--transition-1);

    &.active {
        pointer-events: all;
        opacity: 0.85;
    }
}



.Section {
    padding-block: var(--section-padding);
}



.Hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    background: var(--dense-bg);

    .Container {
        display: grid;
        gap: 50px;
    }


    .Section_text {
        margin-block: 24px 36px;
    }
}


.Hero_content {
    text-align: center;
    width: 100%;
}



@media (min-width:$lg) {



    .NavOpen_btn {
        display: none;
    }



    .NavBar_top {
        display: none;
    }




    .NavBar.active {
        all: unset;
        display: flex;
        flex-grow: 1;
    }




    .Header {
        top: 45px;
        max-width: 960px;
        left: 50%;
        transform: translateX(-50%);
        padding-inline: 16px;
        border-radius: 50px;

        &:not(.active) {
            .overlay {
                top: -50px;
                left: -28px;
                width: calc(100% + 70px);
                height: calc(100vh + 70px);
            }
        }
    }

    .Header.active {
        top: 0;
        left: 0;
        max-width: unset;
        border-radius: 0;
    }

    .Hero {
        padding-block-start: calc(var(--section-padding) + 80px);

        .Container {
            align-items: center;
        }


    }


}

@media (min-width:$xl) {
    .Container {
        max-width: 1140px;
    }

    .Header {
        max-width: 1140px;
    }


}

@media (min-width:$xxl) {
    .Container {
        max-width: 1320px;
    }

    .Header {
        max-width: 1320px;
    }

    .Hero {


        .Section_text {
            --fs-5: 2.4rem;
        }
    }
}