.Progress {
    height: 7px;
    border-radius: 10px;
    width: calc(100% - 2rem);
    max-width: 100%;
    background-color: #cfcfcf;
    position: relative;
    z-index: 0;
    margin-bottom: 0.5rem;
    --primary: #a4acff;
    --warning: #d70c25;
    --danger: #fdc83a;
    --success: #01bd62dd;
    --primary-hvr: #0052cf;

    .ProgressBar {
        position: absolute;
        all: 0;
        z-index: 1;
        height: 100%;
        width: auto;
        border-radius: inherit;
        background-color: #030b02;
        transition: all 500ms ease-in;
    }
}



.ProgressMeter {
    font-size: 0.75rem;
    font-weight: 400;
    display: inline-block;
}