$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
@use "../../../styles/variables";

.NavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: variables.$navbarBg;
    position: sticky;
    top: 0;
    z-index: 99;

    .NavBrand {
        font-size: 1.25rem;
        font-weight: 700;

        letter-spacing: 1px;
        margin-left: 0.25rem;
    }

    .NavContent {
        $color_1: inherit;
        $background-color_1: transparent;
        $background-color_2: #ccdce0;
        $width: 2.5rem;
        $height: 0.25rem;
        position: relative;

        .NavToggler {
            @media (min-width: $md) {
                display: none;

            }




            .hamburgerBurger {

                display: inline-block;
                cursor: pointer;
                transition-property: opacity,
                    filter;
                transition-duration: 0.15s;
                transition-timing-function: linear;
                font: inherit;
                color: $color_1;
                text-transform: none;
                background-color: $background-color_1;
                border: 0;
                margin: 0;
                overflow: visible;
                transition-duration: 0.22s;
                transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

                &:hover {
                    opacity: 0.7;
                }



                &::before {
                    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
                }

                &::after {
                    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                }

                &:hover {
                    opacity: 0.7;
                }

                .hamburgerBox {
                    width: 40px;
                    height: 24px;
                    display: inline-block;
                    position: relative;
                }

                .hamburgerInner {
                    background-color: $background-color_2;
                    display: block;
                    top: 50%;
                    margin-top: -2px;
                    width: $width;
                    height: $height;
                    background-color: $background-color_2;
                    border-radius: 4px;
                    position: absolute;
                    transition-property: transform;
                    transition-duration: 0.15s;
                    transition-timing-function: ease;

                    &::before {
                        width: $width;
                        height: $height;
                        background-color: $background-color_2;
                        border-radius: 4px;
                        position: absolute;
                        transition-property: transform;
                        transition-duration: 0.15s;
                        transition-timing-function: ease;
                        content: "";
                        display: block;
                        top: -10px;
                    }

                    &::after {
                        width: $width;
                        height: $height;
                        background-color: $background-color_2;
                        border-radius: 4px;
                        position: absolute;
                        transition-property: transform;
                        transition-duration: 0.15s;
                        transition-timing-function: ease;
                        content: "";
                        display: block;
                        bottom: -10px;
                    }

                    &::before {
                        background-color: $background-color_2;
                    }

                    &::after {
                        background-color: $background-color_2;
                    }
                }


                &.isActive {
                    .hamburgerInner {
                        transform: rotate(225deg);
                        transition-delay: 0.12s;
                        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

                        &::before {
                            top: 0;
                            opacity: 0;
                            transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
                        }

                        &::after {
                            bottom: 0;
                            transform: rotate(-90deg);
                            transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                        }
                    }

                }

            }






        }

        .NavList {
            margin-right: 0.25rem;
            margin-left: auto;
            justify-content: flex-end;
            display: inline-flex;

            justify-content: space-around;

            @media (max-width: $md) {
                position: absolute;
                right: 0;
                top: 3.25rem;

                transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                backdrop-filter: blur(30px);
                border: 1px solid #c1b3b30f;

                min-width: 15rem;
                transform: translateX(calc(100% + 5rem));
                height: auto;
                background-color: #23272f;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border-radius: 0.5rem;

                &.isOpen {
                    transform: scale(1);

                    display: flex;
                    justify-content: center;
                    text-align: center;
                    column-gap: 0.25rem;

                }

            }

            .NavItem {
                position: relative;
                margin-right: 0.75rem;
                font-weight: 500;
                opacity: 0.8;
                cursor: pointer;
                letter-spacing: 1px;

                font-size: 1.1rem;



                @media (max-width: $md) {

                    padding: 0.25rem 1rem;
                    color: #ffffffbf;
                    cursor: pointer;
                    height: 2.375rem;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.1rem;
                    font-weight: 500;
                    border: 0;
                    outline: 0;
                    user-select: none;



                    &:first-child {
                        border-top-left-radius: 0.25rem;
                        border-top-right-radius: 0.25rem;
                    }

                    &:hover {
                        background-color: #404652;
                    }

                    .NavLink {
                        opacity: 1;
                        color: #6658d3;
                    }

                    &:is(:hover, :focus, :focus-visible, :active, .isActive) {

                        .NavLink {
                            opacity: 1;

                            color: #d4cfff;


                        }
                    }
                }


            }

        }

    }
}


.Header {
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid variables.$borderColor;
    margin-bottom: 2rem;
    background-color: variables.$HeaderBg;
    color: variables.$HeaderColor !important;


    .title {
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        color: variables.$HeaderTitle !important;
    }

    .description {
        color: variables.$HeaderDescription !important;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 2.5rem;
    }
}

.ToolCard {
    margin: 0.5rem;
    flex: 1 1 auto;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    animation-name: pop;
    animation-duration: 0.83s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:hover {
        transform: translateY(-10px);
    }

    @keyframes pop {
        from {
            transform: translateY(20px);
            opacity: 0;
            visibility: hidden;
        }

        to {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width: $sm) {
        width: 100%;
    }

    @media (min-width: $sm) and (max-width: $md) {
        width: 40%;
    }

    @media (min-width: $md) and (max-width: $lg) {
        width: 33%;
        // max-width: 18rem;
    }

    @media (min-width: $lg) {
        width: 25%;
        // max-width: 22rem;
    }

    .CardBody {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 0.5rem;
    }

    .Info {
        text-align: left;
    }

    .CardTitle {
        font-size: 1.1rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: wrap;
        letter-spacing: 2px;
        --webkit-line-clamp: 2;
    }

    .CardDescription {

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
    }
}