$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
@use "../../../styles/variables";

$color_1: inherit;
$color_2: var(--black-coral);
$color_3: var(--charcoal);
$color_4: var(--cinnamon-satin);
$color_5: var(--white);
$color_6: var(--gunmetal);
$color_7: var(--manatee);
$font-family_1: var(--ff-manrope);
$background-color_1: var(--white);
$background-color_2: hsl(0, 0%, 98%);
$background-color_3: hsl(0, 0%, 80%);
$background-color_4: hsl(0, 0%, 70%);
$background-color_5: var(--cinnamon-satin);
$background-color_6: var(--raisin-black);
$background-color_7: var(--white_a8);
$background-color_8: var(--white_a12);
$background-color_9: var(--cultured);
$background-color_10: var(--raisin-black_a6);
$background-color_11: var(--snow);

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}





.Container {
    padding-inline: 16px;
    margin: auto;

}

.Section {
    padding-block: var(--section-padding);
}

.SocialList {
    display: flex;
    align-items: center;
    gap: 12px;
}

.SocialLink {
    font-size: 2rem;
    transition: var(--transition-1);

    &:hover {
        transform: translateY(-3px);
    }
}



.Header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-color_1;
    width: 100%;
    padding-block: 20px;
    box-shadow: var(--shadow-1);
    z-index: 4;

    .Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.active {
        position: fixed;
        animation: slideIn 0.5s ease forwards;
    }
}

.NavOpen_btn {
    font-size: 3.5rem;
    color: $color_6;
}

.NavBar {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: $background-color_6;
    color: $color_5;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    visibility: hidden;
    transition: var(--transition-3);

}

.ThemeToggle {
    margin-inline: 1rem;
    margin-block: auto;
    font-size: 1.8rem;
    background-color: var(--white_a8);
    position: relative;
    padding: 1px 8px;
    height: 24px;
    width: 24px;
    border-radius: 50%;

    svg {
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.Logo {
    margin-right: auto;
}

.NavBar.active {
    visibility: visible;
    transform: translateX(300px);
}

.NavBar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: var(--fs-4);
        color: hsl(0, 0%, 85%);
    }
}

.navCloseBtn {
    background-color: $background-color_7;
    color: $color_5;
    font-size: 2rem;
    display: inline-flex;
    padding: 6px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);

    ion-icon {
        --ionicon-stroke-width: 50px;
    }

    &:hover {
        background-color: $background-color_8;
    }
}

.NavBar_list {
    margin-block-end: auto;
}

.NavBar_link {
    font-weight: var(--fw-700);
    padding-block: 6px;
    color: hsl(0, 0%, 85%);
}

.ContactLink {
    transition: var(--transition-1);

    &:hover {
        color: $color_4;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $background-color_6;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition-1);
}

.overlay.active {
    pointer-events: all;
    opacity: 0.8;
}

.Hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    background-color: $background-color_9;



    .Section_text {
        margin-block: 24px 36px;
    }

    .Hero_title {
        text-align: center;
    }
}

.Hero_banner {
    position: relative;
    max-width: max-content;
    margin-inline: auto;


}

.Hero_content {
    text-align: center;
}

@media (min-width:992px) {


    .Container {
        max-width: 960px;
    }

    .NavOpen_btn {
        display: none;
    }



    .NavBar_top {
        display: none;
    }

    .NavBar {
        padding-block: 10px;

        .Wrapper {
            display: none;
        }

        all: unset;
        display: flex;
        flex-grow: 1;

        .SocialLink {
            color: $color_3;
            font-size: 1.8rem;
        }
    }

    .overlay {
        display: none;
    }

    .NavBar.active {
        all: unset;
        display: flex;
        flex-grow: 1;
    }

    .NavBar_list {
        display: flex;
        gap: 36px;
        margin-inline: auto;
    }

    .NavBar_link {
        color: $color_3;
        transition: var(--transition-1);
        opacity: 0.85;

        &:hover {
            color: $color_4;
            opacity: 1;
        }
    }



    .Header {
        top: 45px;
        max-width: 960px;
        left: 50%;
        transform: translateX(-50%);
        padding-inline: 16px;
        border-radius: var(--radius-8);
    }

    .Header.active {
        top: 0;
        left: 0;
        max-width: unset;
        border-radius: 0;
    }

    .Hero {
        padding-block-start: calc(var(--section-padding) + 80px);

    }


}

@media (min-width:1200px) {
    .Container {
        max-width: 1140px;
    }

    .Header {
        max-width: 1140px;
    }


}

@media (min-width:1400px) {
    .Container {
        max-width: 1320px;
    }
    .Header {
        max-width: 1320px;
    }

    .Hero {


        .Section_text {
            --fs-5: 2.4rem;
        }
    }
}

.Main {
    padding-block: 1.5rem;
    margin-inline: auto;
display: grid;
gap: 1rem;


@media (min-width: $md) {
    padding: 1.5rem;
    grid-template-columns: repeat(2, 5fr);
}

@media (min-width: $lg) {
    grid-template-columns: repeat(3, 3.3fr);
}

@media (min-width: $xxl) {
    grid-template-columns: repeat(4, 2.5fr);
}




}

.Footer {
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    flex-wrap: nowrap;

    padding-block: 1.5rem;
    gap: 20px;
    justify-items: center;
    background: var(--dense-bg);
    border-radius: 0.5rem;
    padding-block: 2rem 1.5rem;

    .FooterSection {
        flex: 1 1 50%;
        padding: 2rem 1rem;

        .Heading {
            margin-bottom: 1rem;
        }

        .LineBreak {
            width: 90%;
            position: relative;
            height: 2px;
            background-color: var(--border-color);

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: inherit;
                background: var(--theme);
                width: 15%;
            }
        }

        .FooterLink {
            font-weight: 550;
            transition: all 400ms ease-in-out;

            svg {
                margin-top: -0.25rem;
            }

            &:hover {
                svg {
                    margin-right: 0.25rem;
                }
            }
        }


    }

    .Social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 1rem;
        justify-items: center;

        .SubHeading {
            grid-column-start: 1;
            grid-column-end: 5;
            margin-bottom: 1rem;
        }

        a {
            padding: 0.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: scale(1.25) rotate(360deg);
                box-shadow: var(--shadow-1);
                background: var(--border-color);
                color: var(--theme);

            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

    }

    @media (max-width:$lg) {
        flex-wrap: wrap;
    }
}

.ToolCard {
    flex: 1 1 auto;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    animation-name: pop;
    animation-duration: 0.83s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:hover {
        transform: translateY(-10px);
    }

    @keyframes pop {
        from {
            transform: translateY(20px);
            opacity: 0;
            visibility: hidden;
        }

        to {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }



    .CardBody {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 0.5rem;
    }

    .Info {
        text-align: left;
    }

    .CardTitle {

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: wrap;
        letter-spacing: 2px;
        --webkit-line-clamp: 2;
    }

    .CardDescription {

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
    }
}

.footer {
    padding-block: 40px;


    .copyright {
        margin-block-end: 12px;
    }

    a {
        display: inline;
        font-weight: 600;
    }
}


@media (min-width:768px) {

    .footer {
        .Container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
    }

    .copyright {
        margin-block-end: 0;
    }
}