@use "./styles/variables";



@import "./styles/reset",
"./styles/flex",
"./styles/forms",
"./styles/layout",
"./styles/position",
"./styles/topography",
"./styles/code",
"./styles/custom";

@import "./styles/components/core";


:root {
    --size-xs: 0;
    --size-sm: 576px;
    --size-md: 768px;
    --size-lg: 992px;
    --size-xl: 1200px;
    --size-xxl: 1400px;
    --body-color: rgb(96, 105, 123);
    --body-bg-rgb: 244, 247, 254;
    --body-bg: rgba(var(--body-bg-rgb), 1);
    --dense-bg: rgb(246, 247, 249);
    --hover-bg: rgba(145, 158, 171, 0.08);
    --muted-rgb: 163 174 208;
    --text-muted: rgba(var(--muted-rgb), 1);
    --card-bg-rgb: 255, 255, 255;
    --card-bg: rgba(var(--card-bg-rgb), 1);
    --card-shadow-single: rgba(130, 163, 196, 0.24) 3px 3px 12px 0px;
    --card-shadow: rgba(130, 163, 196, 0.24) 3px -3px 12px 0px, rgb(142 165 189 / 10%) -5px 5px 10px 0px;
    --shadow-position-1:3px -3px 12px 0px;
    --shadow-position-2:-5px 5px 10px 0px;
    --body-font: 'Poppins','Inter',"ManRope", "Google Sans", san-serif;
    --code-font: "Fira Code","Google Sans Mono", "Source Code Pro", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --drop-bg: hsl(0, 0%, 97%);
    --border-color: #8386972b;
    --code-color: #242424;
    --code-bg: #e4eaef;
    --icon-bg: #8386972b;
    --theme: hsl(196, 100%, 40%);
    --open-transition: opacity .15s cubic-bezier(0, 0, .2, 1) 0ms, transform .15s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --drop-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) -20px 20px 40px -4px;
    --drop-shadow-hover: rgba(130, 163, 196, 0.24) 0px 0px 2px 0px, rgba(142, 165, 189, 0.24) -20px 20px 40px -4px;

    --dropdown-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    --badge: hsl(235, 22%, 34%);
    --badge-text: rgb(85, 85, 85,1);
    --badge-bg: #F8F9FC;
    --badge-border: #D5D9EB;
    --cubic-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --max-width: 1400px;
    --sidenav-width: 300px;
    --border-radius: 12px;
    --font-mono: 'Fira Code', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --font-body: 'Euclid Circular A', 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --shadow: 0 0 .5rem rgb(0 0 0 / 10%);
    --theme-opacity: 1;
    --grey-rgb: 102, 112, 133;
    --theme-rgb: 11, 165, 236;
    --theme: rgba(var(--theme-rgb), var(--theme-opacity));
    --primary-rgb: 0, 150 ,204;
    --primary: rgba(var(--primary-rgb), var(--theme-opacity));
    --secondary-rgb: 122, 90, 248;
    --secondary: rgba(var(--secondary-rgb), var(--theme-opacity));
    --success-rgb: 23, 178, 106;
    --success: rgba(var(--success-rgb), var(--theme-opacity));
    --danger-rgb: 229, 69, 69;
    --danger: rgba(var(--danger-rgb), var(--theme-opacity));
    --info-rgb: 46, 144, 250;
    --info: rgba(var(--info-rgb), var(--theme-opacity));
    --warning-rgb: 255, 136, 0;
    --warning: rgba(var(--warning-rgb), var(--theme-opacity));
    --dark-rgb: 40, 40, 40;
    --dark: rgba(var(--dark-rgb), var(--theme-opacity));
    --light-rgb: 251, 251, 251;
    --light: rgba(var(--light-rgb), var(--theme-opacity));
    --mute-bg-rgb:244, 246, 248;
    --mute-rgb:99, 115, 129;
    --text-opacity: 1;
    --text-rgb: 33, 43, 54;
    --text-color: rgba(var(--text-rgb), var(--theme-opacity));
    --muted-color: rgb(var(--mute-rgb), 0.8);

    --border-color: #eee;

    --btn-text: #fff;
    --btn-bg: rgba(var(--theme-rgb), 1);
    --btn-hover-color: #fff;
    --btn-hover-bg: rgba(var(--theme-rgb), 0.95);
    --btn-box-shadow: var(--theme) 0 4px 9px -4px;
    --btn-border-radius: 0.5rem;

    --btn-line-height: 1.75;
    --btn-font-size: 0.875rem;
    --btn-padding-x: calc(0.5rem  * 2);
    --btn-padding-y: calc(0.1875rem  * 2);
    // 0.1875rem 0.5rem calc(0.1875rem  * 2);
    --lg-btn-padding-y: calc(0.1875rem  * 3);
    --lg-btn-padding-x:calc(0.5rem  * 3);
    --lg-btn-line-height: 1.75;
    --lg-btn-font-size: 0.9375rem;

    --sm-btn-padding-y: calc(0.1875rem  * 1);
    --sm-btn-padding-x: calc(0.5rem  * 1);
    --sm-btn-font-size: 0.8125rem;
    --sm-btn-line-height: 1.75;

    --btn-link-text: rgba(var(--theme-rgb), 0.85);
    --btn-link-bg: #e0dcf1;
    --btn-link-box-shadow: none;
    --btn-link-hover-color: rgba(var(--theme-rgb), 1);
    --btn-link-hover-bg: #e0dcf1;

    --form-border: rgba(208, 213, 221, 0.5);
    --form-border-active: rgba(var(--theme-rgb), 0.7);
    --form-label: rgba(0, 0, 0, 0.75);
    --form-label-active: rgba(var(--theme-rgb), 0.7);
    --form-bg: rgba(245, 245, 245, 1);
    --form-bg-active:  rgba(var(--light-rgb), 1);
    --form-color: rgba(0, 0, 0, 0.8);
    --form-color-active: rgba(var(--theme-rgb), 0.7);
    --form-caret: var(--theme);
    --form-active: var(--theme);
    --form-helper: #adadb1;
    --form-checkbox-bg: #fbfbfb;
    --form-checkbox-border: #ddd;
    --form-checkbox-shadow: rgba(0, 150, 204, .486);
    --form-select-bg-active: #ddd;

    --codeblock-header-text: inherit;
    --codeblock-header-bg: #e6e9f1;
    --codeblock-body-bg: #f5f2f0;

    --code-color: #262626;
    --tag: #905;
    --attr-name: #3c5a00;
    --attr-value: #0072a3;
    --property: #07a;
    --punctuation: #515151;

    --overlay-bg: #1f2329;
    --sidebar-bg: #fdfdfd;
    --sidebar-color: #414346;
    --sidebar-link: inherit;
    --sidebar-link-bg: inherit;
    --sidebar-link-hover: #005574;
    --sidebar-link-bg-hover: #eee;


    --white: hsla(0, 0%, 100%, 1);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --cultured: var(--dense-bg);
    --snow: hsla(196, 52%, 46%, 0.2);
    --manatee: hsla(219, 10%, 62%, 1);
    --black-coral: hsla(220, 12%, 43%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --cinnamon-satin: hsl(196, 100%, 40%);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
    --gunmetal: hsla(214, 15%, 21%, 1);
    --charcoal: hsla(219, 22%, 26%, 1);

    --fs-1: calc(1.9rem + 1.38vw);
    --fs-2: calc(1.8rem + .66vw);
    --fs-3: calc(1.7rem + .24vw);
    --fs-4: 1.6rem;
    --fs-5: 1.4rem;
    --fs-6: 1.2rem;
    --fs-7: 1rem;
    --fs-8: 0.8rem;
    --fw-700: 700;
    --section-padding: 90px;
    --shadow-1: hsla(264, 67%, 38%, 0.11) 0px 15px 72px;
    --shadow-2: hsla(264, 67%, 38%, 0.20) 0px 15px 72px;
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-8: 20px;
    --radius-6: 6px;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;

    --link: hsla(196, 100%, 40%, 1);

    --link-hover: hsla(196, 100%, 40%, 0.904);
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;

    @media (min-width:992px) {
        --section-padding: 120px;

    }
}

$color_1: inherit;
$color_2: var(--black-coral);
$color_3: var(--charcoal);
$color_4: var(--cinnamon-satin);
$color_5: var(--white);
$color_6: var(--gunmetal);
$color_7: var(--manatee);
$font-family_1: var(--ff-manrope);
$background-color_1: var(--white);
$background-color_2: hsl(0, 0%, 98%);
$background-color_3: hsl(0, 0%, 80%);
$background-color_4: hsl(0, 0%, 70%);
$background-color_5: var(--cinnamon-satin);
$background-color_6: var(--raisin-black);
$background-color_7: var(--white_a8);
$background-color_8: var(--white_a12);
$background-color_9: var(--cultured);
$background-color_10: var(--raisin-black_a6);
$background-color_11: var(--snow);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &:autofill {
        font: inherit;
    }
}

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $background-color_2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-color_3;

        &:hover {
            background-color: $background-color_4;
        }
    }


}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background: var(--body-bg);
    color: var(--body-color);

    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

    
    //     --codeblock-header-text: #fbfbfb;
    //     --codeblock-header-bg: #242932;
    //     --codeblock-body-bg: #131618;

    //     --code-color: #eee;
    //     --tag: #ff0a91;
    //     --attr-name: #77b300;
    //     --attr-value: #00b3ff;
    //     --property: #f8c555;


    //     --sidebar-bg: rgb(22, 28, 36);
    //     --sidebar-color: #e3eefb;
    //     --sidebar-link: inherit;
    //     --sidebar-link-bg: inherit;
    //     --sidebar-link-hover: rgb(28, 156, 234);
    //     --sidebar-link-bg-hover: rgba(145, 158, 171, 0.08);

    //     --white: var(--body-bg);
    //     --cultured: var(--dense-bg);
    //     --white_a8: hsla(0, 0%, 100%, .08);
    //     --white_a12: hsla(0, 0%, 100%, .12);
    //     --snow: hsla(196, 52%, 46%, 1);
    //     --manatee: #949ba8;
    //     --black-coral: #fffcfc;
    //     --cadet-blue-crayola_a20: rgba(164, 174, 198, .2);
    //     --cinnamon-satin: rgb(28, 156, 234);
    //     --raisin-black: #1f2329;
    //     --raisin-black_a6: rgb(9 22 41 / 36%);
    //     --gunmetal: #2e343e;
    //     --charcoal: #fbfbfb;
    //     --shadow-1: rgb(0 0 0 / 16%) 0px 15px 72px;
    //     --shadow-2: rgb(30 27 27 / 35%) 1px -1px 16px 0px;
    //     --link: hsl(196, 83%, 65%);
    //     --link-hover: hsla(196, 52%, 46%, 1);

    // }
}

.Blog{
    // background: var(--light);
    // color: var(--dark);
    --blog-theme-rgb:var(--secondary-rgb);
    transition: all .3s ease-in-out;
    min-height: 100vh;
    width:100%;
    overflow-x: hidden;
    font-family: 'Inter', 'Euclid Circular A',var(--font-body), sans-serif;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    user-select: none;
    -webkit-user-drag: none;
}

// .DarkMode {

//     svg {
//         color: hsl(0, 0%, 85%);
//     }
// }



button {
    display: block;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

ion-icon {
    display: block;
    pointer-events: none;
}

input {
    background: none;
    border: none;
    font: inherit;
    width: 100%;
}

textarea {
    background: none;
    border: none;
    font: inherit;
    width: 100%;
}

a {
    color: rgba(var(--theme-rgb), 1);
    text-decoration: none;
    font-weight: 500;
    &.underline{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.collapse {
    
    &:not(.show) {
        display: none;
    }
}
.collapsing {
    overflow: hidden;
    transition: height .5s ease-in-out;
    height: 0;
}



// li {
//     list-style: none;
// }
.apexcharts-tooltip span {
    color: #ffffff;
    font-family: var(--font-body);
}
.apexcharts-canvas{
    margin:0.75rem auto;
    font-family: var(--font-body)!important;

}
.apexcharts-menu-item{
    font-family: inherit;
    font-family: var(--font-body)!important;
}
[class^="apexcharts-legend-"],[class^="apexcharts-"],.apexcharts-text tspan {
    font-family: var(--font-body)!important;
    text-transform: capitalize;
  }
//   .Collapse {
//     overflow: hidden;
//     position: relative;
//     height: 0;
//     transition: height .5s cubic-bezier(0.4, 0, 0.2, 1);
//     width: 100%;
//     &.isOpen{
//             height: auto;
//     } 
// }
.Collapse {
    width: 100%;
    display: grid;
    grid-template-rows: auto 0;
    transition: grid-template-rows 0.3s ease-in-out;
    &.isOpen{
        grid-template-rows: auto 1fr;

    }
}


// h1 {
//     font-size: 2.5rem;
//     line-height: 1.2;
// }

// h2 {
//     font-size: 2rem;
//     line-height: 1.2;
// }

// h3 {
//     font-size: 1.75rem;
//     line-height: 1.2;
// }

// h4 {
//     font-size: 1.5rem;
//     line-height: 1.2;
// }

// h5 {
//     font-size: 1.25rem;
//     line-height: 1.2;
// }

// h6 {
//     font-size: 1rem;
//     line-height: 1.2;
// }

// p {
//     font-size: 1rem;
//     line-height: 1.5;
// }

// /* Set font size in rem */
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//     font-size: 1rem;
// }

// /* Responsive typography with rem */
// @media (min-width: 768px) {
//     h1 {
//         font-size: 3rem;
//     }

//     h2 {
//         font-size: 2.5rem;
//     }

//     h3 {
//         font-size: 2rem;
//     }

//     h4 {
//         font-size: 1.75rem;
//     }

//     h5 {
//         font-size: 1.5rem;
//     }

//     p {
//         font-size: 1.125rem;
//     }
// }


.x-mandatory {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }

}

@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pop {
    from {
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}
@keyframes opaque{
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
  }
@keyframes skeleton-loading {
    0% {
      background-color: #a3b8c2;
    }
  
    100% {
      background-color: #f0f3f5;
    }
  }
  @keyframes skeleton-bg {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1.75rem);
    }
  }