@use "./styles/variables";



@import "./styles/reset",
"./styles/buttons",
"./styles/flex",
"./styles/forms",
"./styles/layout",
"./styles/position",
"./styles/topography",
"./styles/code",
"./styles/ripple",
"./styles/custom";

@import "./styles/components/core";
@import "./styles/components/footer";
@import "./styles/components/collapse";
@import "./styles/components/accordion";
@import "./styles/components/modal";
@import "./styles/components/tabs";
@import "./styles/components/card";
@import "./styles/components/slicedMenu";
@import "./styles/components/listGroup";

:root {
    --body-color: hsla(220, 12%, 43%, 1);
    --body-bg: hsla(0, 0%, 100%, 1);
    --dense-bg: hsla(220, 20%, 97%, 1);
    --hover-bg: rgba(145, 158, 171, 0.08);
    --text-muted: hsla(220, 12%, 43%, 0.8);
    --card-bg: #fbfbfb;
    --card-shadow: rgb(145 158 171 / 20%) 6px -7px 14px 0px, rgb(145 158 171 / 12%) -7px 7px 24px 6px;
    --body-font: "ManRope", "Google Sans", san-serif;
    --code-font: "Google Sans Mono", "Source Code Pro", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --drop-bg: hsl(0, 0%, 97%);
    --border-color: #8386972b;
    --code-color: #242424;
    --code-bg: hsl(196, 100%, 40%);
    --icon-bg: #8386972b;
    --theme: hsl(196, 100%, 40%);
    --open-transition: opacity .15s cubic-bezier(0, 0, .2, 1) 0ms, transform .15s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --drop-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) -20px 20px 40px -4px;

    --dropdown-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    --success: hsl(143, 28%, 22%);
    --successBg: hsla(143, 64%, 24%, 0.2);
    --danger: hsl(0, 100%, 26%);
    --dangerBg: hsl(0deg 98% 47% / 20%);
    --info: hsl(194, 42%, 25%);
    --infoBg: rgb(20 158 202 / 20%);
    --warning: rgba(250, 204, 21, .2);
    --warningBg: hsl(50deg 56% 23%);
    --badge: hsl(235, 22%, 34%);
    --badgeBg: rgb(107 117 219 / 20%);
    --cubic-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    --form-border: rgba(155, 155, 155, 0);
    --form-border-active: var(--theme);
    --form-label: rgb(117, 118, 124);
    --form-label-active: #eee;
    --form-bg: #f2f3f7;
    --form-bg-active: #fbfbfb;
    --form-color: rgb(44, 41, 41);
    --form-color-active: #262626;
    --form-caret: var(--theme);
    --form-active: var(--theme);
    --form-helper: rgb(173, 173, 177);
    --form-checkbox-bg: #fbfbfb;
    --form-checkbox-border: #ddd;
    --form-checkbox-shadow: hsla(196, 100%, 40%, 0.486);
    --form-select-bg-active: #ddd;


    --btn-text: #fff;
    --btn-bg: var(--theme);
    --btn-hover-color: #fff;
    --btn-hover-bg: hsla(196, 100%, 40%, 0.897);
    --btn-box-shadow: var(--theme) 0 4px 9px -4px;
    --btn-border-radius: 0.5rem;
    --btn-line-height: 1.75;
    --btn-padding-x: 1.5rem;
    --btn-padding-y: 0.375rem;

    --lg-btn-padding-top: 0.75rem;
    --lg-btn-padding-bottom: 0.6875rem;
    --lg-btn-padding-x: 1.6875rem;
    --lg-btn-font-size: 0.875rem;
    --lg-btn-line-height: 2.8;


    --sm-btn-padding-top: 0.5rem;
    --sm-btn-padding-bottom: 0.5rem;
    --sm-btn-padding-x: 1rem;
    --sm-btn-font-size: 0.75rem;
    --sm-btn-line-height: 1.25;



    --btn-primary-text: #fff;
    --btn-primary-bg: #3b71ca;
    --btn-primary-box-shadow: 0 4px 9px -4px #3b71ca;
    --btn-primary-hover-color: #fff;
    --btn-primary-hover-bg: #386bc0;

    --btn-success-text: #fff;
    --btn-success-bg: #14a44d;
    --btn-success-box-shadow: 0 4px 9px -4px #14a44d;
    --btn-success-hover-color: #fff;
    --btn-success-hover-bg: #139c49;


    --btn-warning-text: #fff;
    --btn-warning-bg: #e4a11b;
    --btn-warning-box-shadow: 0 4px 9px -4px #e4a11b;
    --btn-warning-hover-color: #fff;
    --btn-warning-hover-bg: #d9991a;

    --btn-info-text: #fff;
    --btn-info-bg: #54b4d3;
    --btn-info-box-shadow: 0 4px 9px -4px #54b4d3;
    --btn-info-hover-color: #fff;
    --btn-info-hover-bg: #50abc8;

    --btn-danger-text: #fff;
    --btn-danger-bg: #dc4c64;
    --btn-danger-box-shadow: 0 4px 9px -4px #dc4c64;
    --btn-danger-hover-color: #fff;
    --btn-danger-hover-bg: #d1485f;

    --codeblock-header-text: inherit;
    --codeblock-header-bg: #e6e9f1;
    --codeblock-body-bg: #f5f2f0;

    --code-color: #262626;
    --tag: #905;
    --attr-name: #3c5a00;
    --attr-value: #0072a3;
    --property: #07a;
    --punctuation: #515151;

    --overlay-bg: #1f2329;
    --sidebar-bg: #fdfdfd;
    --sidebar-color: #414346;
    --sidebar-link: inherit;
    --sidebar-link-bg: inherit;
    --sidebar-link-hover: #005574;
    --sidebar-link-bg-hover: #eee;


    --white: hsla(0, 0%, 100%, 1);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --cultured: var(--dense-bg);
    --snow: hsla(196, 52%, 46%, 0.2);
    --manatee: hsla(219, 10%, 62%, 1);
    --black-coral: hsla(220, 12%, 43%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --cinnamon-satin: hsl(196, 100%, 40%);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
    --gunmetal: hsla(214, 15%, 21%, 1);
    --charcoal: hsla(219, 22%, 26%, 1);

    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + .66vw);
    --fs-3: calc(2.6rem + .24vw);
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fw-700: 700;
    --section-padding: 90px;
    --shadow-1: hsla(264, 67%, 38%, 0.11) 0px 15px 72px;
    --shadow-2: hsla(264, 67%, 38%, 0.20) 0px 15px 72px;
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-8: 20px;
    --radius-6: 6px;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;

    --link: hsla(196, 100%, 40%, 1);

    --link-hover: hsla(196, 100%, 40%, 0.904);
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;

    @media (min-width:992px) {
        --section-padding: 120px;

    }
}

$color_1: inherit;
$color_2: var(--black-coral);
$color_3: var(--charcoal);
$color_4: var(--cinnamon-satin);
$color_5: var(--white);
$color_6: var(--gunmetal);
$color_7: var(--manatee);
$font-family_1: var(--ff-manrope);
$background-color_1: var(--white);
$background-color_2: hsl(0, 0%, 98%);
$background-color_3: hsl(0, 0%, 80%);
$background-color_4: hsl(0, 0%, 70%);
$background-color_5: var(--cinnamon-satin);
$background-color_6: var(--raisin-black);
$background-color_7: var(--white_a8);
$background-color_8: var(--white_a12);
$background-color_9: var(--cultured);
$background-color_10: var(--raisin-black_a6);
$background-color_11: var(--snow);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

html {
    font-family: $font-family_1;
    font-size: 10px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $background-color_2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-color_3;

        &:hover {
            background-color: $background-color_4;
        }
    }


}

body {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: normal;
    background-color: var(--body-bg);
    color: var(--body-color);
    font-size: 1.6rem;
    line-height: 1.7;

    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

    &.DarkMode {
        --body-color: hsl(0, 100%, 99%);
        --body-bg: #21272f;
        --dense-bg: rgb(22, 28, 36);
        --hover-bg: rgba(145, 158, 171, 0.08);
        --text-muted: hsla(0, 100%, 99%, .8);
        --card-bg: #343b44;
        --icon-bg: #8384892e;
        --drop-bg: rgb(33, 43, 54);
        --drop-shadow: rgb(0 0 0 / 24%) 0px 0px 2px 0px, rgb(0 0 0 / 24%) -20px 20px 40px -4px;
        --card-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 0px, rgb(0 0 0 / 12%) 0px 12px 24px -4px;
        --border-color: #8384892e;

        --success: hsl(142deg 42% 60%);
        --successBg: rgb(22 101 52 / 20%);
        --danger: hsl(0, 100%, 79%);
        --dangerBg: hsl(0deg 98% 47% / 20%);
        --info: hsl(194deg 83% 66%);
        --infoBg: rgba(20, 158, 202, .2);
        --warning: hsl(50deg 86% 61%);
        --warningBg: rgb(250 204 21 / 20%);
        --badge: hsl(235, 100%, 85%);
        --badgeBg: rgb(107 117 219 / 20%);

        --form-border: rgba(145, 158, 171, 0.32);
        --form-border-active: var(--theme);
        --form-label: hsl(229, 8%, 73%);
        --form-label-active: #eee;
        --form-bg: none;
        --form-bg-active: none;
        --form-color: #eee;
        --form-color-active: #262626;
        --form-caret: var(--theme);
        --form-active: var(--theme);
        --form-helper: hsl(240, 3%, 73%);
        --form-checkbox-border: hsla(229, 13%, 33%, 0.671);
        --form-checkbox-bg: none;
        // --btn-success: #22C55E;// --btn-success-bg: hsla(142, 71%, 45%, 0.75);

        --codeblock-header-text: #fbfbfb;
        --codeblock-header-bg: #242932;
        --codeblock-body-bg: #131618;

        --code-color: #eee;
        --tag: #ff0a91;
        --attr-name: #77b300;
        --attr-value: #00b3ff;
        --property: #f8c555;


        --sidebar-bg: rgb(22, 28, 36);
        --sidebar-color: #e3eefb;
        --sidebar-link: inherit;
        --sidebar-link-bg: inherit;
        --sidebar-link-hover: rgb(28, 156, 234);
        --sidebar-link-bg-hover: rgba(145, 158, 171, 0.08);

        --white: var(--body-bg);
        --cultured: var(--dense-bg);
        --white_a8: hsla(0, 0%, 100%, .08);
        --white_a12: hsla(0, 0%, 100%, .12);
        --snow: hsla(196, 52%, 46%, 1);
        --manatee: #949ba8;
        --black-coral: #fffcfc;
        --cadet-blue-crayola_a20: rgba(164, 174, 198, .2);
        --cinnamon-satin: rgb(28, 156, 234);
        --raisin-black: #1f2329;
        --raisin-black_a6: rgb(9 22 41 / 36%);
        --gunmetal: #2e343e;
        --charcoal: #fbfbfb;
        --shadow-1: rgb(0 0 0 / 16%) 0px 15px 72px;
        --shadow-2: rgb(30 27 27 / 35%) 1px -1px 16px 0px;
        --link: hsl(196, 83%, 65%);
        --link-hover: hsla(196, 52%, 46%, 1);

    }
}



li[class] {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    user-select: none;
    -webkit-user-drag: none;
}

.DarkMode {

    svg {
        color: hsl(0, 0%, 85%);
    }
}



button {
    display: block;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

ion-icon {
    display: block;
    pointer-events: none;
}

input {
    background: none;
    border: none;
    font: inherit;
    width: 100%;
}

textarea {
    background: none;
    border: none;
    font: inherit;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-weight: 500;
}