.ArticleBody, .standardTopography {
    text-align: initial;
    width: 100%;
    font-size: 16px;
    font-family: "Inter", sans-serif !important;
  }
  .ArticleBody h1, .standardTopography h1, .ArticleBody h2, .standardTopography h2, .ArticleBody h3, .standardTopography h3, .ArticleBody h4, .standardTopography h4, .ArticleBody h5, .standardTopography h5, .ArticleBody h6, .standardTopography h6 {
    line-height: 1.3em;
    margin: 0 0 16px;
  }
  .ArticleBody h1, .standardTopography h1 {
    font-size: 26px;
  }
  .ArticleBody h2, .standardTopography h2 {
    font-size: 23px;
  }
  .ArticleBody h3, .standardTopography h3 {
    font-size: 20px;
  }
  .ArticleBody h4, .standardTopography h4 {
    font-size: 18px;
  }
  .ArticleBody h5, .standardTopography h5 {
    font-size: 16px;
  }
  .ArticleBody h6, .standardTopography h6 {
    font-size: 14px;
  }
  .ArticleBody blockquote, .standardTopography blockquote {
    position: relative;
    background-color: rgba(var(--gray-rgb));
    font-style: normal;
    padding: 16px 20px;
    margin: 0;
    border-radius: 8px;
  }
  .ArticleBody ol, .standardTopography ol {
    counter-reset: ify;
    padding: 0 0 0 16px;
    margin: 10px 0;
  }
  .ArticleBody ol > li, .standardTopography ol > li {
    counter-increment: ify;
  }
  .ArticleBody ol > li::before, .standardTopography ol > li::before {
    display: inline-block;
    content: counters(ify, '.') '.';
    margin: 0 5px 0 0;
  }
  .ArticleBody ol ul, .standardTopography ol ul {
    padding: 0 0 0 16px;
    margin: 10px 0;
  }
  .ArticleBody li, .standardTopography li {
    list-style: none;
    margin: 8px 0;
    padding: 0;
  }
  .ArticleBody p, .standardTopography p {
    margin-bottom: 0.75rem;
  }
  .ArticleBody p + h1, .standardTopography p + h1, .ArticleBody p + h2, .standardTopography p + h2, .ArticleBody p + h3, .standardTopography p + h3, .ArticleBody p + h4, .standardTopography p + h4, .ArticleBody p + h5, .standardTopography p + h5, .ArticleBody p + h6, .standardTopography p + h6 {
    margin-top: 1rem;
  }
  